.online{
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
}
.offline{
        width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
}
.item{
    width: 100%;
    border:2px solid black;
    background-color: beige;
    border-radius: 4px;
    padding: 4px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}